/* Estilo do corpo em geral do site */
.bg {
    color: #ffc107;
}

/* Estilo para o  footer ficar no fim da página */
.containerBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.containerBody main {
    flex: 1;
}

.bgMain {
    padding: 20px;
    margin: 20px;
    color: #ffc107;
}

/* estilização da navbar */
.bgNavbar {
background-color: rgb(26, 25, 25);
    font-weight: bold;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.navConteudo {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.paiOptionNav {
    display: flex;
    justify-content: space-around;
    font-size: large;
}

.pesquisar {
    width: 500px;
    height: 35px;
}

.navText {
    flex-direction: row;
    display: flex;
}

.optionNavbar {
    color: #ffc107;
}

.navElementos {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.btn:hover {
  transform: scale(1.10);
  transition: 0.5s;
  box-shadow: 3px 3px 3px black;
}

.navImage:hover{
  transform: scale(1.10);
  transition: 0s;
}

.optionNavbar:hover{
  transform: scale(1.10);
  transition: 0s;
  color: white;
}

.paiOptionNav:hover{
  transform: scale(1.02);
  transition: 0s;
}

.menuIcon:hover{
  transform: scale(1.02);
  transition: 1s;
}

.perfil{
  color: #ffc107;
}

.perfil:hover{
  transform: scale(1.10);
  transition: 0s;
  color: white;
}


/* estilo do footer */
.icons {
    text-align: center;
    margin-bottom: 20px;
}

.bgContainers {
    background-color: rgb(26, 25, 25);
    color: #ffffff;
    margin-top: 30px;
    padding: 20px;
}

/* estilo para telas mobile */
.mobileNavElement {
    display: none;
}

.menuIcon {
    display: none;
}

/* modificações para telas menores */
@media screen and (max-width: 730px) {
    .navElementos {
        display: none;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .menuIcon {
        display: block;
    }

    .mobileNavElement {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .paiOptionNav {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .conteudo {
        padding-bottom: 10px;
    }

    .pesquisar {
        width: 150px;
        margin-bottom: -20px;
    }
}

h1 {
    color: #ffc107;
}

/* Estilo do grupo de botões */
.groupButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.groupBtn {
    width: 100%;
    padding: 20px;
    margin: 10px;
}

.subGroupBtn {
    width: 70%;
}
