/* Estilo para ocupar toda a tela */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body main {
    flex: 1;
}


/* Estilo de conteúdo da página no geral */
.bg {
    margin: 10px;
    color: #ffc107;
    padding: 20px;
}