/* Estilo para ocupar toda a tela */
.containerBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.containerBody main {
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bgMain {
    border: 2px solid rgb(26, 25, 25);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffc107;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}

/* Formulário */

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 10px;
}

label {
    margin-top: 50px;
}

#formPagamento {
    width: 100px;
}

#parcelas {
    width: 90px;
}

#formRetirada {
    width: 95px;
}

.elementPai {
    display: flex;
    flex-direction: row;
}
.elementFilho {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn1 {
    margin-top: 50px;
    width: 50%;
}
.btn2 {
    margin-top: 50px;
}