body {
    background-image: url(../img/siteFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    background-color: rgb(26, 25, 25);
    color: #ffffff;
}

a {
    text-decoration: none;
    color: white;
}

.navConteudo{
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.paiOptionNav {
    display: flex;
    justify-content: space-around;
}

.pesquisar {
    width: 300px;
}
.navText{
    flex-direction: row;
    display: flex;
}

.optionNavbar {
    color: #ffc107;
}

.navElementos {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.icons {
    text-align: center;
    margin-bottom: 20px;
}

.mobileNavElement {
    display: none;
}

.menuIcon {
    display: none;
}

.bgContainers{
    background-color: rgb(26, 25, 25);
    color: #ffffff;
    margin-top: 30px;
    padding: 50px;
}

@media screen and (max-width: 730px) {
    .navElementos{
        display: none;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }
    .menuIcon {
        display: block;
    }

    .mobileNavElement{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .paiOptionNav {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .conteudo {
        padding-bottom: 10px;
    }

    .pesquisar {
        width: 150px;
    }
}

.groupButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.groupBtn {
    width: 100%;
    padding: 20px;
    margin: 10px;
}

.subGroupBtn {
    width: 70%;
}