.bg{
    background-color: rgb(26, 25, 25);
    color: #ffffff;
}

a {
    text-decoration: none;
    color: white;
}

.navConteudo{
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.paiOptionNav {
    display: flex;
    justify-content: space-around;
}

.pesquisar {
    width: 300px;
}
.navText{
    flex-direction: row;
    display: flex;
}

.optionNavbar {
    color: #ffc107;
}

.navElementos {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.mobileNavElement {
    display: none;
}

.menuIcon {
    display: none;
}

@media screen and (max-width: 730px) {
    
    .navElementos{
        display: none;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }
    .menuIcon {
        display: block;
    }

    .mobileNavElement{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .paiOptionNav {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .conteudo {
        padding-bottom: 10px;
    }

    .pesquisar {
        width: 150px;
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.customForm{
    display: flex;
    justify-content: center;
    padding: 40px;
}

input, textarea, label {
    resize: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titleForm {
    padding-top:20px;
}

.radioLabel {
    margin-right: 20px;
    margin-left: 5px;
}

.boxRadio {
    height: 20px;
    width: 20px;
}

.btnCustom {
    width: 20vh;
}