body {
    background-image: url(../img/siteFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    background-color: rgb(26, 25, 25);
    color: #ffffff;
    padding: 30px;
}

a {
    text-decoration: none;
    color: white;
}

.icons {
    text-align: center;
    margin-bottom: 20px;
}

.bgContainers{
    background-color: rgb(26, 25, 25);
    color: #ffffff;
    margin-top: 30px;
    padding: 50px;
}